<!-- using api -->
	<!-- <script src="http://audarme.kz/assets/api/noty.js"></script> -->
	<!--<script src="http://audarme.kz/assets/api/app.js"></script>-->
	<script src="http://localhost:3000/assets/api/noty.js"></script>
	<script src="http://localhost:3000/assets/api/app.js"></script>
<!-- end of using api -->
<div class="row page">
	<div class="span8 offset2">
		<h3>API</h3>
		<section class="well">
			<p>Audarme.kz предоставляет программный доступ к функции перевода слов, то есть Вы можете извлекать статьи из нашего ресурса с помощью HTTP запросов, а также использовать нашу библиотеку, написанную на языке JavaScript, для того чтобы встроить функции перевода на Ваш сайт.</p>
		</section>

		<section class="well">
			<h5 class="bold">Как можно использовать API?</h5>
			<p>Audarme API можно использовать для разных целей, таких как, например, разработка приложений или игр, где требуется словарь.</p>
			<p>Специально для наших пользователей мы разработали инструмент для перевода слов, который можно легко встроить на Ваш сайт. Подробности ниже.</p>
		</section>

		<section class="well">
			<h5 class=bold>Требования</h5>
			<p>
				Для работы с нашим API вам нужно будет установить следующие библиотеки:
				<ol>
					<li>
						<a href="http://code.jquery.com/jquery-2.0.3.min.js">jQuery.js</a>
					</li>
					<li>
						<a href="http://audarme.kz/assets/api/noty.js">jNoty.js</a>
					</li>
					<li>
						<a href="http://audarme.kz/assets/api/app.js">translateApplication.js</a>
					</li>
				</ol>
			</p>
		</section>

		<section class="well">
			<h5 class=bold>Установка</h5>
			<p>
				После того как вы подключили все файлы, Вы можете использовать глобальный обьект <code>AUDARME</code>. У данного обьекта существует единственный метод, отвечающий за перевод слова:
				<pre>AUDARME.transate()</pre>
			</p>
		</section>

		<section class="well">
			<h5 class=bold>Использование</h5>
			<p>
				Для того чтобы воспользоваться нашим API, достаточно написать:
<pre>$(document).ready(function(){
	AUDARME.translate($("selector"), "action");
});</pre>
				Где <code>selector</code> - любой элемент на странице с текстовой информацией (пример на этой странице: p#js-example), а <code>action</code> - событие, на которое реагирует наш скрипт (мы используем dblclick).
			</p>
		</section>

		<section class="well">
			<h5 class=bold>Пример работы</h5>
			<p>Кликните два раза на любое слово:</p>
			<p id="js-example">
				"аба", "алма", "адам", "балық", "бару", "ғимарат", "дыбыс", "емдеу", "жазу", "ит",
				"келу", "лақ", "мерген", "нұсқа", "орындық", "парасатты", "ризау", "статистика",
				"тырысу", "утопия","үнді", "ұстаз", "фаталистік", "хабар", "яғни"
			</p>
		</section>

	</div>
</div>