<!-- using api -->
	<script src="http://audarme.kz/assets/api/noty.js"></script>
	<script src="http://audarme.kz/assets/api/app.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			AUDARME.translate($("p#js-example"), "dblclick select");
		});
	</script>
<!-- end of using api -->
<div class="row page">
	<div class="span8 offset2">
		<section class="well">
			<h5 class=bold>Требования</h5>
			<p>
				Для работы с нашим API вам нужно будет установить следующие библиотеки:
				<ol>
					<li>
						<a href="http://code.jquery.com/jquery-2.0.3.min.js">jQuery.js</a>
					</li>
					<li>
						<a href="http://audarme.kz/assets/api/noty.js">jNoty.js</a>
					</li>
					<li>
						<a href="http://audarme.kz/assets/api/app.js">translateApplication.js</a>
					</li>
				</ol>
			</p>
		</section>

		<section class="pad">
			<h5 class=bold>Установка</h5>
			<p class="well">
				После того как вы подключили все файлы, вы можете использовать глобальный обьект <span class="bold">AUDARME</span>
				<br>
				У данного обьекта существует единственный метод который и занимается переводом <span class="bold">AUDARME.transate()</span>
				<br>
			</p>
		</section>

		<section class="pad">
			<h5 class=bold>Использование</h5>
			<p class="well">
				Для того чтобы воспользоваться нашим api достаточно написать:
				<br>
				$(document).ready(function(){ <br>
					&nbsp;&nbsp;&nbsp;AUDARME.translate($("selector"), "action"); <br>
				});<br>
				В данном примере selector может быть любой элемент на странице с текстовой информацией (selector - p#js-example)
				<br>
				А action - событие на которое реагирует наш скрипт (action - dblclick select)
			</p>
		</section>

		<section>
			<h5 class=bold>Пример работы</h5>
			<p class="well" id="js-example">
				"абордаж", "абордаждау", "абордажды", "абордаждық", "абордажное оружие", "абордажный", "абордировать", "абориген", "аборигенный", "аборт", "абортивные органы растений", "абортивные средства", "абортивный", "абортивный метод лечения", "абортивтік", "абортировать", "абразия", "абракадабра", "абрикос", "абрикосная косточка", "абрикосный", "абрикосовая косточка", "абрикосовое варенье", "абрикосовый", "абрикостың тәттілігі", "абрикотин", "абрис", "аброгация", "абсент", "абсентеизм", "абсолют", "абсолютизировать", "абсолютизм", "абсолютке айналдыру", "абсолютная бедность", "абсолютная быстрота", "абсолютная величина", "абсолютная влажность", "абсолютная высота", "абсолютная земельная рента", "абсолютная идея", "абсолютная индивидуальная величина", "абсолютная истина", "абсолютная квота", "абсолютная конструкция", "абсолютная мобильность", "абсолютная монархия", "абсолютная монополия", "абсолютная мышечная сила", "абсолютная необдуманность", "абсолютная общая величина", "абсолютная ответственность", "абсолютная ошибка", "абсолютная плодовитость", "абсолютная погрешность", "абсолютная прибавочная стоимость", "абсолютная прибыль", "абсолютная рента", "абсолютная сила мышц", "абсолютная скорость", "абсолютная соотносительность", "абсолютная температура", "абсолютная тишина", "абсолютная цена", "абсолютная частота", "абсолютная экономическая эффективность", "абсолютно", "абсолютно вещественный", "абсолютно зря", "абсолютно известно", "абсолютно не понимать", "абсолютно не реагировать", "абсолютно тихо", "абсолютное безлюдье", "абсолютное большинство"
			</p>
		</section>

	</div>
</div>