<div class="row">
	<div class="span2">
		<h3 class="logo">Audar . me!</h3>
	</div>
	<div class="span5">
		<div class="input-append">
		  <input class="span4" id="js-text-search" type="text" data-provide="typeahead">
		  <button class="btn" id="js-swap-lan" type="button">kz→ru</button>
		  <button class="btn" id="js-button-search" type="button">Go!</button>
		</div>
	</div>
</div>