<div class="search-bar-keyboard">
	<div id="js-keyboard" class="text-center none">
		<button class="btn">ә</button>
		<button class="btn">і</button>
		<button class="btn">ң</button>
		<button class="btn">ғ</button>
		<button class="btn">ү</button>
		<br/>
		<button class="btn">ұ</button>
		<button class="btn">қ</button>
		<button class="btn">ө</button>
		<button class="btn">һ</button>
	</div>
</div>
<div id="search-bar" class="">
	<div id="settings" class="text-center">
		<div id="js-language-select">		
			<a value="ru">русский</a>
			<div id="language-swap-icon" style="display:inline-block;"></div>
			<a value="kz">казахский</a>
		</div>
		<div class="pull-right"><a id="js-keyboard-button"></a></div>
	</div>

	<div class="clearfix"></div>

	<div class="input-append" id="search-form">
	  <input class="search-input" id="js-search-inp" type="text" placeholder="Например: планета">
	  <button title="search" class="btn btn-primary search-button" id="js-search-btn">
	          <i class="icon-search icon-white"></i></button>
	</div>

	<div id="suggestions">
		<ul class="nav nav-list" id="js-suggestion-menu">
			<!-- <li><a>планета</a></li>
			<li class="active"><a>жираф</a></li>
			<li><a>Кумар</a></li>
			<li><a>Фархат</a></li> -->
		</ul>
	</div>
	<div id="js-loading" class="none"></div>
</div>