<div class="row-fluid">
	<div class="span8 offset2 well">
		<h2 class="bold">Audarme.kz</h2>
<p>Добро пожаловать на Audarme.kz! Введите интересующее Вас слово в поле поиска слева.</p>
<p>Сервис Audarme.kz предлагает казахско-русский и русско-казахский словари, а также много других интересных функций.</p>
<h3>Статистика</h3>
<p>На данный момент у нас есть <span class="stat"><%= Word.where(:language => 'kz').count %></span> статей на казахском языке и <span class="stat"><%= Word.where(:language => 'ru').count %></span> на русском.</p>
<h3>API</h3>
<p>Audarme.kz предоставляет программный доступ к функции перевода слов, то есть Вы можете извлекать статьи из нашего ресурса с помощью HTTP запросов, а также использовать нашу библиотеку, написанную на языке JavaScript, для того чтобы встроить функции перевода на Ваш сайт.</p>
<h5>Как можно использовать API?</h5>
<p>Audarme API можно использовать для разных целей, таких как, например, разработка приложений или игр, где требуется словарь.</p>
<p>Специально для наших пользователей мы разработали инструмент для перевода слов, который можно легко встроить на Ваш сайт. Информацию об использовании и примеры Вы можете найти <a href="/api">здесь</a>.</p>
	</div>
</div>