<div class="page row">
<div class="span12">
<form>
	<label class="control-label" for="email">E-mail</label>
	<input type="text" name="email" id="email" placeholder="Ваш e-mail"/>
	
	<label class="control-label" for="message">Что вы хотите нам сообщить?</label>
	<textarea name="message" class="span6" rows="10" id="message"></textarea><br/>

	<input type="submit" class="btn btn-primary"/>
</form>
</div>
</div>
