<div class="row-fluid">
	<div class="span3">	
		<%= render "search_form" %>
	</div>
	<div class="span7">
		<div id="js-text-container">
			<h4 class="bold">Вас приветствует словарь казахско-русского языка Audarme.kz</h4>
			<p>
				→ Для того чтобы воспользоваться нашим сервисом необходимо ввести какое-либо слово в строку запроса.
				<br>
				→ Наш вервис не учитывает морфологию слов. По­это­му, сло­во, ко­торое Вам не­об­хо­димо пе­ревес­ти, пред­ва­ритель­но не­об­хо­димо пре­об­ра­зовать в нор­маль­ную фор­му, ана­логич­но то­му, как это де­ла­ет­ся при по­ис­ке сло­ва в обыч­ных бу­маж­ных сло­варях.
				<br>
				→ Ре­коме­ду­ем вво­дить сло­во в по­ле «Сло­во» без оши­бок. Впол­не воз­можно, что сло­во, ко­торое Вы ище­те в сло­варе есть, од­на­ко Вы вве­ли его не­вер­но.
			</p>
		</div>
	</div>
	<div class="span2 banner">
		<% if @show %>
			<div class="adv-sidebar">
				<img src=<%= show_image(@adverts[2].addsloader.url) %> >
			</div>
		<% end %>
	</div>
</div>
