/*
 *= require_self
 */

html body {
	background-image: url("/assets/bg.png");
}

.container{
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
}

.application{
	margin-top: 70px;
}

body{
	font-family: Verdana, "Segoe UI", Arial, sans-serif;
}

p{
	line-height: 1.6em;
}

.adv{
	background: rgb(236, 236, 232);
	width : 100%;
	height : 200px;
}

footer{
	margin-top: 40px;
	margin-bottom: 30px;
}

.footer-menu{
	text-align: center;
}

.footer-menu ul {
	list-style: none;
}
.footer-menu ul li {
	display: inline-block;
}
.footer-menu ul li a{
	padding: 4px 10px;
	text-decoration: none;
	color: #2c3e50;
	font-size : 14px;
	font-weight: bold;
}

.copy{
	font-size : 14px;
}

.short-title{
	font-size : 12px;
	color : #ddd;
	padding-left: 10px;
}

.key-help{
	color : #444;
	font-size : 12px;
}

.noty_message{
	max-height : 300px;
	overflow-y: scroll;
}

.css-image{
	width : 100%;
	height : 70px;
	margin-top: 70px;
}
.adv-sidebar{
	width : 100%;
	height : 400px;
}
.adv-sidebar img{
	width : 100%;
	height : 100%;
}
.css-image-sidebar{
	width : 100%;
	height : 100px;
}

.footer-adv{
	width : 100%;
	height : 70px;
	margin-bottom: 30px;
}
.footer-adv img{
	width : 100%;
	height : 100%;
}

.admin-img{
	width : 300px;
	height : 150px;
}


.banner {
	background-color: red;
	height: 400px;
}

/* Settings */

#settings {
	padding: 5px;
}

#settings a {
	color: white;
	display: inline-block;
	text-decoration: none;
	line-height: 30px;
	font-size:14px;
	vertical-align:middle;
}

#settings #js-keyboard-button {
	background: url('/assets/keyboard.png') 0 0 no-repeat;
	background-size: 30px 30px;
	width: 32px;
	height: 30px;
	opacity: 0.55;
	display: inline-block;

}
#settings #js-keyboard-button:hover{
	opacity: 1;
	cursor: pointer;
}

#settings #js-language-select {
	line-height: 16px;
	vertical-align:middle;
	color: white;
	display: inline-block;
}

#language-swap-icon {
	background: url('/assets/google-buttons.png') 0 0 no-repeat;
	background-size: auto 16px;
	width: 16px;
	height: 16px;
	opacity: 0.55;	
	position: relative;
	top: 4px;
}
#language-swap-icon:hover{
	opacity: 1;
	cursor: pointer;
}

/* Search bar */

.icon-white {
	background-image: url("glyphicons-halflings-white.png");
}

.search-input {
	margin:0!important;
	width:75%;
	-webkit-border-radius: 4px 0 0 4px!important;
	-moz-border-radius: 4px 0 0 4px!important;
	border-radius: 4px 0 0 4px!important;
	margin:0!important;
}

.search-button {
	width:16%;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin:0!important;
	padding-left:0;
	padding-right:0;
	background-color: #444;
	background-image: none;
	border-color: #444;
}

.search-button:hover {
	background-color: #333;
}

#search-form {
	display:block;
	padding: 0 10px 0 10px;
}

#search-bar {
	background-color: #0088cc;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	padding-bottom : 10px;
}

/* Suggestions */

#suggestions ul {
	background-color: white;
}

#suggestions li a {
	border-bottom: 1px solid #ccc;
	line-height: 25px;
}

#suggestions li:last-child {
	border: none;
}

#suggestions li:first-child a {
	border-top: 1px solid #ccc;
}



/* Logo */

#logo {
	background: url('/assets/logo-red.png');
	background-size: auto 30px;
	width: 30px;
	height: 30px;
	display: inline-block;	
	vertical-align:middle;
	position: relative;
	top: -2px;
}

.brand {
	padding: 8px 20px 0 30px!important;
	color:white!important;
}

/* Keyboard */

#js-keyboard {
	padding: 6px 10px 0 10px;
}

#js-keyboard button {
	width: 40px;
	margin: 0 3px 5px 3px;
	color: #444;
}

#js-language-select{
	cursor: pointer;
}

#js-language-select:hover #language-swap-icon{
	opacity: 1;
}

.search-bar-keyboard{
	margin-bottom : 10px;
	background: rgba(68, 68, 68, .9);
	border-radius: 4px;
	display: none;
}
body .search-bar-keyboard .btn{
	background: white;
	font-size : 17px;
	/*font-weight: bold;*/
}

.none{
	display: none;
	visibility: hide;
}

.js-suggestion-li {
	cursor: pointer;
}


#js-text-container{
	padding : 10px 20px;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	box-sizing : border-box;
	background: white;
	border-radius: 4px;
}


/* Article layout */

#js-text-container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.disambig h5 {
	color:#00CC7A;
	font-size:20px;
}

#js-text-container abbr {
	font-style:italic;
	border:none;
	color:rgb(168, 24, 24);
	font-weight: bold;
}

#js-text-container ul {
	list-style: none;
	margin: 0 0 10px 10px;
}

#js-text-container ul.disambig {
	margin: 0 0 10px 0;
}


#js-text-container .example {
	color:grey;
}

#js-text-container em {
	color:#555;
}

#js-text-container .example em {
	color:grey;
}

.equiv-enum {
	color:#444;
	font-weight:bold;
}

.syn {
	color:#444;
	font-weight:bold;	
}

.parts > abbr {
	font-size: 18px;
}